body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  /* Estilo para o formulário */
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
  }
  
  form input[type="number"],
  form input[type="text"],
  form input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
  }

  button{
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  
  /* Estilo para os links de editar e excluir */
  a.edit-link,
  a.delete-link {
    display: inline-block;
    margin-right: 8px;
    color: #333;
    text-decoration: none;
  }
  
  a.edit-link:hover,
  a.delete-link:hover {
    text-decoration: underline;
  }