<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>

<body>
    <h1>Lista de Itens</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item['nome'] }}</td>
            <td>{{ item['descricao'] }}</td>
            <td>{{ item['valor'] }}</td>
            <td>
                <a href="/edit/{{ item['id'] }}">Editar</a>
                <a href="/delete/{{ item['id'] }}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="container-button">
        <a href="/add"><button>Adicionar Item</button></a>
    </div>
</body>

</html>